{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container-fluid mt-4 ps-4">
        <div class="row justify-content-end">
            <div class="col-4">
                <h2 class="col mx-auto text-center mb-4">Your Basket ({{item_count}} items)</h2>
            </div>
            <div class="col-4 text-end pe-4">
                <a href="{% url 'store:storefront' %}"><button type="button" class="btn btn-dark ms-auto"><< Continue shopping</button></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 text-center mx-auto">
                <button type="button" class="btn btn-dark">Checkout</button>
            </div>
        </div>
        
        {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Book</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="align-middle">
                    <td><img src="{{item.product.image.url}}" class="img-responsive img-basket"></td>
                    <td>{{ item.product.name }} by {{ item.product.author }}</td>
                    <td>£{{ item.product.price }}</td>
                    <td>
                        <div class="align-middle d-flex flex-row no-wrap">
                        <button type="button"
                            class="btn {% if item.quantity == 1 %}bg-secondary{% else %}bg-body-secondary{% endif%} px-2 py-0 me-2 me-0 border-0"
                            id="decreaseQty" {% if item.quantity == 1 %}disabled{% endif%}
                            onclick="decreaseQty({{ item.id }}, {{ item.quantity }})">
                            <i class="fa-solid fa-caret-left fa-sm"></i>
                        </button>
                        <label for="disabledTextInput" class="form-label visually-hidden">Quantity</label>
                        <input type="text" id="id_qtyInput" class="form-control inputQty-width" value="{{ item.quantity }}" onchange="changeQty({{ item.id }}, this.value)">
                        <button type="button" class="btn bg-body-secondary px-2 py-0 ms-2 me-0" id="increaseQty" onclick="increaseQty({{ item.id }}, {{ item.quantity }})"><i class="fa-solid fa-caret-right fa-sm"></i></button>
                        </div>
                    </td>
                    <td>
                            <form method="post" action="{% url 'basket:remove-from-basket' item.id %}">
                                {% csrf_token %}
                                <div class="align-middle d-flex flex-row no-wrap">
                                    £{{ item.line_cost }}
                                    <button type="submit" class="btn bg-body-secondary px-2 py-0 ms-3 me-0"><i class="fa-solid fa-xmark fa-sm"></i></button>
                                </div>
                            </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not items %}
            <h3 class="text-center mt-5">Your basket is empty, go buy some books!</h3>
        {% endif %}
    </div>
{% endblock content %}