{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block extra_meta %}
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600;1,700&family=Noto+Sans+Linear+B&family=Roboto&display=swap" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}
    
    <script src="https://kit.fontawesome.com/751d38c590.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    {% block extra_js %}
    {% endblock %}

    <title>Big Bang Bookstore {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid bg-white fixed-top d-flex justify-content-between border-bottom border-dark-subtle">
      <h1 class="text-black text-left pb-2 mb-0">The Big <strong>BANG</strong> Bookstore</h1>
      <nav class="d-flex align-middle p-1">
        <a href="{% url 'basket:basket' %}" aria-label="Basket"><button type="button" class="btn btn-dark m-1"><i class="fa-solid fa-cart-shopping"></i></button></a>
        <div class="dropdown">
          <button class="btn btn-dark m-1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.is_authenticated %}
              <i class="fa-solid fa-user"></i>
            {% else %}
              <i class="fa-solid fa-right-to-bracket"></i>
            {% endif %}
          </button>
          <!-- Create dropdown menu depending on if user is logged in or not -->
          <ul class="dropdown-menu dropdown-menu-width container px-2">
            {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="#">My Account</a></li>
              <li><a class="dropdown-item" href="{% url 'store:logout' %}">Logout</a></li>
            {% else %}
              <li>
              <!-- Create login form to handle login process and send user back to current page -->
              <form method="POST" action="{% url 'store:login'%}?next={{ request.path }}">
              {% csrf_token %}
                <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
                      <label for="floatingInput">Username</label>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                      <label for="floatingPassword">Password</label>
                  </div>    
              <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-outline-dark d-inline">Login</button>
                <a class="text-decoration-none link-dark" href="{% url 'store:signup' %}"><button type="button" class="btn btn-outline-dark d-inline">Register</button></a>
              </div>
              </form>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <div class="header-padding"></div>

    
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>