{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block extra_meta %}
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700&family=Noto+Sans+Linear+B&family=Roboto&display=swap" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}
    
    <script src="https://kit.fontawesome.com/751d38c590.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    {% block extra_js %}
    {% endblock %}

    <title>Big Bang Bookstore {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <div class="content-wrapper">
    <header class="container-fluid bg-white fixed-top d-flex justify-content-between border-bottom border-dark-subtle">
      <h1 class="title1 text-left pb-2 mb-0">The Big <strong>BANG</strong> Bookstore</h1>
      <nav class="d-flex align-middle p-1">
        <a href="{% url 'basket:basket' %}" aria-label="Basket"><button type="button" class="btn custom-btn m-1"><i class="fa-solid fa-cart-shopping"></i></button></a>
        <div class="dropdown">
          <button class="btn custom-btn m-1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.is_authenticated %}
              <i class="fa-solid fa-user"></i>
            {% else %}
              <i class="fa-solid fa-right-to-bracket"></i>
            {% endif %}
          </button>
          <!-- Create dropdown menu depending on if user is logged in or not -->
          <ul class="dropdown-menu dropdown-menu-width container px-2">
            {% if user.is_authenticated %}
              <li>
                <a href="{% url 'store:account_page' %}">
                  <button type="button" class="btn custom-btn w-100 mb-2">My Account</button>
                </a>
              </li>
              <li>
                <a href="{% url 'store:logout' %}">
                  <button type="button" class="btn custom-btn w-100">Logout</button>
                </a>
              </li>
            {% else %}
              <li>
              <!-- Create login form to handle login process and send user back to current page -->
              <form method="POST" action="{% url 'store:login'%}?next={{ request.path }}">
              {% csrf_token %}
                <div class="form-floating mb-3">
                      <input type="text" class="form-control custom-input" id="floatingInput" placeholder="Username" name="username">
                      <label for="floatingInput">Username</label>
                  </div>
                  <div class="form-floating mb-3">
                      <input type="password" class="form-control custom-input" id="floatingPassword" placeholder="Password" name="password">
                      <label for="floatingPassword">Password</label>
                  </div>    
              <div class="d-flex justify-content-around">
                <button type="submit" class="btn custom-btn d-inline">Login</button>
                <a class="text-decoration-none link-dark" href="{% url 'store:signup' %}"><button type="button" class="btn custom-btn d-inline">Register</button></a>
              </div>
              </form>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <div class="header-padding"></div>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    <div class="back-image">
      <!-- Your content here -->
    </div>
    {% endblock %}

    {% block postloadjs %}
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    {% endblock %}
  </div>
    <!-- Footer -->
    <footer class="footer footer1">
      <div class="container ps-0">
        <div class="row text-center text-md-left">
          <div class="col-md-4 mb-3 mb-md-0">
            <h5 class="text-uppercase font-weight-bold">Contact Us</h5>
            <p class="mb-1"><i class="fas fa-phone-alt"></i> Tel: +44 1234 567 890</p>
            <p><i class="fas fa-envelope"></i> Email: <a href="mailto:contact@bigbangbookstore.com">contact@bigbangbookstore.com</a></p>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <h5 class="text-uppercase font-weight-bold">Follow Us</h5>
            <a href="#" class="social-icon mx-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon mx-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon mx-2"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon mx-2"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <div class="col-md-4 text-center text-md-left">
            <h5 class="text-uppercase font-weight-bold">Our Location</h5>
            <p>1234 Space Avenue, Cosmos City, Universe</p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-center">
            <p class="small text-muted">© 2024 The Big Bang Bookstore. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>