{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="h-100 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="col-12 col-md-8 col-lg-6 mx-auto py-4 px-3 text-center rounded" style="height: 100%; background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px);">
            <h3 class="mb-4">Enter your details to register your account</h3>
            <!-- Display messages -->
            {% if messages %}
                <div class="container mt-3">
                    {% for message in messages %}
                        <div class="alert alert-dismissible fade show custom-alert" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close pb-1" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" action="{% url 'store:signup' %}">
                {% csrf_token %}
                <div class="row">
                    <!-- Loop through fields to create signup form but skip order id -->
                    {% for field in form %}
                        {% if field.name != 'order_id' %}
                            <div class="col-12 col-sm-6">
                                <div class="form-floating mb-3">
                                    <!-- Add 'is-invalid' class if the field has errors -->
                                    <input type="{{ field.field.widget.input_type }}"
                                        class="form-control {% if field.errors %}is-invalid{% endif %}"
                                        id="floating{{ field.name|capfirst }}"
                                        placeholder="{{ field.label }}"
                                        name="{{ field.name }}"
                                        style="background-color: #D8C2E3;"
                                        value="{{ field.value|default_if_none:'' }}"
                                        aria-describedby="error-{{ field.name }}">
                                    <label for="floating{{ field.name|capfirst }}">{{ field.label }}</label>
                                    <!-- Display field errors -->
                                    {% for error in field.errors %}
                                        <div id="error-{{ field.name }}" class="invalid-tooltip">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="btn custom-btn mt-3" type="submit" aria-label="Register">Register</button>
            </form>
        </div>
    </div>
</div>

<figure class="text-center mt-4">
    <blockquote class="blockquote">
        <p>“When you sit with a nice girl for two hours you think it’s only a minute, <br>but when you sit on a hot stove for a minute you think it’s two hours. That’s relativity...”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        <p><cite title="Source Title">Albert Einstein</cite></p>
    </figcaption>
</figure>

{% endblock content %}