{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container-fluid mt-5 pt-5">
        <div class="col-12 col-md-8 col-lg-6 mx-auto py-4 px-3 text-center rounded bg-secondary-subtle">
            <h3 class="mb-4">Enter your details to register your account</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-dark mt-3" type="submit">Register</button>
            </form>
        </div>


    
    </div>

{% endblock content %}
