{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="product-header-bg  h-100 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="col-12 col-md-8 col-lg-6 mx-auto py-4 px-3 text-center rounded " style="height: 100% background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px);" >
           <p> <h3 class="mb-4 text-white">Enter your details to register your account</h3></p>
            <form method="post" action="{% url 'store:signup' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Email" name="email">
                            <label for="floatingInput">Email</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingUser" placeholder="Username" name="username">
                            <label for="floatingUser">Username</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingPassword" placeholder="Password" name="password1">
                            <label for="floatingPassword">Password</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingPassword2" placeholder="Password2" name="password2">
                            <label for="floatingPassword2">Repeat Password</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingFirst" placeholder="First Name" name="first_name">
                            <label for="floatingFirst">First Name</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingLast" placeholder="Last Name" name="last_name">
                            <label for="floatingLast">Last Name</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingHouse" placeholder="House" name="house">
                            <label for="floatingHouse">Address 1</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingAddress" placeholder="Address2" name="address2">
                            <label for="floatingAddress">Address 2</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingCity" placeholder="City" name="city">
                            <label for="floatingCity">City</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingCounty" placeholder="County" name="county">
                            <label for="floatingCounty">County</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingPostcode" placeholder="Postcode" name="postcode">
                            <label for="floatingPostcode">Postcode</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control" id="floatingPhone" placeholder="Phone" name="phone">
                            <label for="floatingPhone">Phone</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark mt-3" type="submit">Register</button>
            </form>
        
        </div>
    </div>
</div>

<figure class="text-center mt-4">
    <blockquote class="blockquote">
      <p>“When you sit with a nice girl for two hours you think it’s only a minute, <br>but when you sit on a hot stove for a minute you think it’s two hours. That’s relativity...”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        <p><cite title="Source Title">Albert Einstein</cite></p>
    </figcaption>
  </figure>

{% endblock content %}

