{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container-fluid fixed-height-header product-header-bg d-flex">
        <div class="row align-items-center">
            <div class="col-6 text-white d-flex flex-column align-items-start fixed-height-header">
                <h2 class="mt-auto">Unlock the Universe.</h2>
                <p>Welcome to The Big Bang Bookstore. Explore our collection of books on Space, the Big Bang, and Quantum Physics. Discover the wonders of the cosmos!</p>
            </div>
            <div class="col-6 text-white">
            </div>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-12 col-md-6 mt-4">
                <h4 class="text-dark d-inline align-middle">Filter: </h4>
                <div class="btn-group filter-btn-margin">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Author
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Author A</a></li>
                        <li><a class="dropdown-item" href="#">Author B</a></li>
                        <li><a class="dropdown-item" href="#">Another Author</a></li>
                    </ul>
                </div>
                <div class="btn-group filter-btn-margin">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Category 1</a></li>
                        <li><a class="dropdown-item" href="#">Category 2</a></li>
                        <li><a class="dropdown-item" href="#">Category 3</a></li>
                    </ul>
                </div>
                <div class="btn-group filter-btn-margin">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Price
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Low to High</a></li>
                        <li><a class="dropdown-item" href="#">High to Low</a></li>
                        <li><a class="dropdown-item" href="#">Under £10</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 text-white d-flex flex-column align-items-end mb-2 mt-4">
                <div class="input-group mb-3 mt-auto search-box">
                    <input type="text" class="form-control rounded-pill-start" placeholder="Book or Author" aria-label="Search book or author" aria-describedby="button-addon2">
                    <button class="btn btn-dark rounded-pill-end text-white" type="button" id="button-addon2">Search</button>
                </div>
            </div>
        </div>
        <div class="row d-flex flex-wrap justify-content-around">
            {% for product in page_obj %}
                <div class="card mb-5" style="width: 18rem;">
                    <img src="{{product.image.url}}" class="card-img-top book-cover mx-auto d-block mt-3 mb-3" alt="Book cover image">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{ product.description|truncatechars:300 }}</p>

                        <p class="card-text"><strong>Author:</strong> {{product.author}}</p>
                        <a href="#" class="btn btn-primary d-inline">Add to cart</a>
                        <a href="{% url 'store:product-detail' product.pk %}" class="btn btn-success d-inline">More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-12 text-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock content %}

